nav {
    flex-direction: column;
    text-align: center;
}

nav ul {
    flex-direction: column;
}

.main-container {
    max-width: 100%;
}

.main {
    flex-direction: column;
}

#course {
    padding: 10px;
}

#course h1 {
    font-size: 25px;
}

#course img {
    max-width: 90%;
}

#course h3 {
    width: 90%;
    text-align: left;
}

#faculty h1 {
    font-size: 25px;
}

#students {
    padding: 20px 0;
}

#students section {
    width: 100%;
    flex-direction: column;
    border-bottom: 3px dotted #f3f3f3;
}

#students section:last-child {
    border-bottom: none;
}

#students img,
#students i {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    align-self: center;
    padding-bottom: 5px;
}

#students a {
    width: 40%;
}