* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Open Sans' , sans-serif;
    max-width: 100%;
    margin: auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav img {
    width: 200px;
    height: 75px;
}

nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
}

nav ul li a:hover {
    background-color: rgb(36, 59, 78);
    border-radius: 5px;
    color: white;
}

.main-container {
    max-width: 75%;
    margin: auto;
}

.main {
    background-color: #f3f3f3;
    display: flex;
}

.main img {
    width: 100%;
}

.main .content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main .content h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.main .content h3 {
    padding-top: 10px;
}

#course {
    background-color: rgb(36, 59, 78);
    padding: 20px 40px;
    color: white;
    display: flex;
    flex-direction: column;
}

#course h1 {
    text-align: center;
    padding-bottom: 20px;
}

#course img {
    max-width: 60%;
    margin: auto;
}

#course img:hover {
    opacity: 0.8;
    cursor: grab;
}

#course h3 {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
}

#faculty {
    padding: 20px 60px;
}

#faculty ul li {
    list-style: disc;
    padding-top: 10px;
}

#faculty span {
    font-weight: bolder;
}

#students {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

#students h1 {
    text-align: center;
    padding-bottom: 20px;
}

#students section {
    display: flex;
    background-color: rgb(36, 59, 78);
    color: white;
    padding: 20px;
    width: 50%;
}

#students section:nth-child(odd) {
    align-self: flex-end;
}

#students section:nth-child(even) {
    align-self: flex-start;
}

#students img,
#students i {
    width:15%;
    height: 15%;
    border-radius: 50%;
}

#students section .info {
    padding: 10px 20px;
}

#students a {
    background-color: rgb(36, 59, 78);
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    align-self: center;
    width: 20%;
}

footer {
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 59, 78);
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1100px) {
    .main-container {
        max-width: 100%;
    }
}